<h1>Vista del inicio</h1>
<section class="d-flex flex-wrap justify-content-evenly">
  {{#each products}}
    <div class="card" style="width: 18rem;">
      {{#if this.image}}
        <img
          src={{this.image}}
          class="card-img-top"
          alt={{this._id}}
          style="height: 18rem; object-fit: cover"
        />
      {{else}}
        <img
          src="https://cdn-icons-png.flaticon.com/512/9402/9402212.png"
          alt={{this._id}}
          style="height: 18rem; object-fit: cover"
        />
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">USD: {{this.price}}</p>
        <a href="/product/{{this._id}}" class="btn btn-primary">Info</a>
        <button
          class="btn btn-primary add-to-cart"
          data-product-id="{{this._id}}"
        >
          <i class="bi bi-cart-plus"></i>
          Add to Cart
        </button>
      </div>
    </div>
  {{/each}}
</section>
<script src="./index.js"></script>